        <div class="row no-gutters justify-content-center switchers">

          <div class="alert">
            <svg class="icon svg-icon-bell"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-bell"></use> </svg>

            <span class="alert__count">12</span>
            <span class="alert__tag overdue">2 Ovderdue</span>

            <div class="checkbox-imitation inline">
              <label>
                 <input type="checkbox" name="show_overdue_only">
                 <span class="checkbox-imitation__view"></span>
              </label>
            </div>
          </div>

            <div class="range-datepicker">
            <svg class="icon svg-icon-calendar"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-calendar"></use> </svg>

            <span class="range-datepicker__label">This Month</span>
            <span class="range-datepicker__text"> Oct 1 2019 → Nov 1 2019</span>

            <span class="range-datepicker__arrow"></span>
          </div><!-- range-datepicker -->

          <div class="select-imitation has-icon select-imitation_shift-bottom">
            <svg class="icon svg-icon-clinics"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-clinics"></use> </svg>

            <select name="" id="">
              <option value="-1">All Clinics</option>
              <option value="1">value 1</option>
              <option value="2">value 2</option>
              <option value="3">value 3</option>
            </select>
          </div>

          <div class="select-imitation has-icon select-imitation_shift-bottom">
            <svg class="icon svg-icon-tooth"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-tooth"></use> </svg>
            <select name="" id="">
              <option value="-1">All Treatments</option>
              <option value="1">value 1</option>
              <option value="2">value 2</option>
              <option value="3">value 3</option>
            </select>
          </div>

          <div class="select-imitation has-icon select-imitation_shift-bottom">
            <svg class="icon svg-icon-campaign"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-campaign"></use> </svg>
            <select name="" id="">
              <option value="-1">All Campaigns</option>
              <option value="1">value 1</option>
              <option value="2">value 2</option>
              <option value="3">value 3</option>
            </select>
          </div>

          <div class="select-imitation has-icon select-imitation_shift-bottom">
            <svg class="icon svg-icon-sourses"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-sourses"></use> </svg>
            <select name="" id="">
              <option value="1">value 1</option>
              <option value="2">value 2</option>
              <option value="3">value 3</option>
            </select>
          </div>

          <div class="select-imitation has-icon select-imitation_shift-bottom">
            <svg class="icon svg-icon-team"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-team"></use> </svg>
            <select name="" id="">
              <option value="1">value 1</option>
              <option value="2">value 2</option>
              <option value="3">value 3</option>
            </select>
          </div>
        </div><!-- row -->