$break-point-xs: 480px;
$break-point-sm: 552px;
$break-point-md: 768px;
$break-point-lg: 992px;
$break-point-xl: 1170px;
$break-point-xxl: 1600px;


$ffg: 'GothamFont', sans-serif;
$ffh: 'HelveticaFont_', sans-serif;
$ffp: 'PoppinsFont', sans-serif;