.popup-print-options{
  min-width: 1000px;
  max-width: 1500px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.26);
  border-radius: 9px;
  background-color: #ffffff;
  padding: 20px 0;
  margin: 50px auto 0;
  display: block;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 2vw;
  left: 2vw;
  max-height: calc(100vh - 70px);
  overflow: auto;

  .icon-close{
    position: absolute;
    z-index: 10;
    font-weight: 100;
    font-size: 48px;
    right: 5px;
    top: 5px;
    width: 24px;
    height: 24px;
    color: #eee;
    line-height: 24px;
    vertical-align: top;
    cursor: pointer;
  }

  table{
    width: 100%;
    margin: 0 0 30px;

    th{
      padding: 5px 10px;

      text-align: left;
      // border-bottom: 1px solid  #f7f7f9;

      &:first-child{
        padding-left: 30px;
      }

      &:last-child{
        padding-right: 30px;
      }
    }
    thead{
      td{
        padding-top: 4px;
        padding-bottom: 4px;
        border: 0 !important;
      }
    }
    td{
      padding-left: 30px;
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: left;
      border-bottom: 1px solid  #f7f7f9;

      &:first-child{
        padding-left: 30px;
      }

      &:last-child{
        padding-right: 30px;
      }
    }
  }
}

.text-right{
  text-align: right;

  .button{
    float: right;
  }
}

.checkbox-imitation{
  &__view{
    vertical-align: -2px;
    margin-right: 5px;
  }

  &__text{
    display: inline-block;
    vertical-align: top;
  }
}

.button{
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  color: #fff;
  line-height: 38px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  background-color: #01c58d;
  transition: .2s all;
  font-size: 14px;
  font-family: $ffh;
  font-weight: 500;

  svg{
    margin-right: 5px;
  }

  &:hover{
    background-color: darken(#01c58d, 10%);
  }
}

.filename{
  width: 100%;
  max-width: 320px;
  line-height: 24px;
  border: 1px solid  #eee;
  padding: 5px;
  box-shadow: 0 1px 6px rgba(0,0,0,.06);
}

.popup-title{
  display: inline-block;
  line-height: 38px ;
  margin-right: 5px;
}

