
%unstyled-list {list-style-type:none; margin:0px; padding:0px;}
%inline-list {
    list-style-type:none;
    >li {display:inline-block;}
}

%hidden {
    display: none !important;
    visibility: hidden;
}

%visuallyhidden{
  opacity: 0;
}

%clearfix{
  &:before,
  &:after {
      content: " ";
      display: table;
  }

  &:after {
      clear: both;
  }
}

%abs-center{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.hidden{
  @extend %hidden;
}

.visuallyhidden{
  @extend %visuallyhidden;
}

.clearfix{
  @extend %clearfix;
}