
$break-point-xs: 576px;
$break-point-sm: 768px;
$break-point-md: 992px;
$break-point-lg: 1200px;
$break-point-xl: 1600px;

$ffm: "Myriad Pro", sans-serif;
$ffr: "Roboto", sans-serif;
$ffu: "Univia Pro", sans-serif;

$bg-header-opacle: rgba(0,0,0, .3);


$link-regular: #67d2e1;
$link-visited: #25aabd;

$menu-link:         #67d2e1;
$menu-link-hover:   #c2a17c;
$menu-link-active:  #fff;
$menu-link-visited: #67d2e1;
$bg-header-opacle:  rgba(0,0,0, .3);

 $text-line-height: 28px;