.fullwidth{
  width: 100%!important;
  max-width: 100%;
}

.leads-block__data td:first-child{
  width: 48px!important;
}
.leads-block__data td:nth-child(2){
  width: 164px!important;
}
.image-placeholder.user{
  width: 100px;
}

.image-placeholder.user img{
  width: 100px;
  height: auto;
}
.stages-content__item h3{
  margin: 0 0 15px;
}
.stages-content__item td,
.stages-content__item th{
  padding: 3px 6px 8px;
  vertical-align: top;
}

.stages-content__item{
  border-radius: 10px;
  padding: 15px;
  border: 1px solid  #999;
  background: #fff;
  display: inline-block;
}

.stages-content__item td,
.stages-content__item th{
  vertical-align: top!important;
}

.stages-content__item th{
  padding-top: 10px;
  padding-bottom: 0 !important;
}

.optional_label i{
  display: none;
}

.optional_label :checked ~ i{
  display: block;
}

.justify-table{
  table-layout: fixed;
}
.justify-table td{
  vertical-align: top;
  padding: 5px 15px;
}

.input-title{
  margin: 0 0 5px;
  text-transform: capitalize;
}

.input-title+input{
  margin-bottom: 15px;
}

.treatments-list .input-control{
  break-inside: avoid-column;
}

.th{
  padding-top: 10px!important;
}

.tabs-selectors{
  display: block;
  position: relative;
  z-index: 2;
  margin-bottom: -1px;
}

.tabs-selectors ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.tabs-selectors ul li{
  margin: 0  5px 0 0;
}

.tabs-selectors ul label{
    display: block;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #888;
    transition: all .1s;
  }


#clinics:checked ~ .tabs-selectors ul [for="clinics"]{
  background: #fff;
  border-bottom-color: #fff;
}

#treatment:checked ~ .tabs-selectors ul [for="treatment"]{
  background: #fff;
  border-bottom-color: #fff;
}

#campaign:checked ~ .tabs-selectors ul [for="campaign"]{
  background: #fff;
  border-bottom-color: #fff;
}

#sources:checked ~ .tabs-selectors ul [for="sources"]{
  background: #fff;
  border-bottom-color: #fff;
}

#payment:checked ~ .tabs-selectors ul [for="payment"]{
  background: #fff;
  border-bottom-color: #fff;
}

#tag:checked ~ .tabs-selectors ul [for="tag"]{
  background: #fff;
  border-bottom-color: #fff;
}

input.switcher{
  display: none;
}

.page-container{
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #888;
}

.page-container .input-control{
  max-width: 480px;
   break-inside: avoid-column;
}

#clinics:checked ~ .clinics{
  display: block;
}
#treatment:checked ~ .treatment{
  display: block;
}
#campaign:checked ~ .campaign{
  display: block;
}
#sources:checked ~ .sources{
  display: block;
}
#payment:checked ~ .payment{
  display: block;
}
#tag:checked ~ .tag{
  display: block;
}