.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: inherit;
  stroke: inherit;
}



  .icon.svg-icon-back {
      font-size: 10px;
      width: 1.2em;
  }




  .icon.svg-icon-bell {
      font-size: 13px;
      width: 1.0769230769230769em;
  }




  .icon.svg-icon-calendar {
      font-size: 14px;
      width: 1em;
  }




  .icon.svg-icon-campaign {
      font-size: 14px;
      width: 1em;
  }




  .icon.svg-icon-card {
      font-size: 14px;
      width: 1.2142857142857142em;
  }




  .icon.svg-icon-chat {
      font-size: 12px;
      width: 1.1666666666666667em;
  }




  .icon.svg-icon-clinics {
      font-size: 13px;
      width: 1.0769230769230769em;
  }




  .icon.svg-icon-clock {
      font-size: 16px;
      width: 0.625em;
  }




  .icon.svg-icon-confirm {
      font-size: 12px;
      width: 1em;
  }




  .icon.svg-icon-convertions {
      font-size: 21px;
      width: 1.0952380952380953em;
  }




  .icon.svg-icon-dashboard {
      font-size: 20px;
      width: 1em;
  }




  .icon.svg-icon-date {
      font-size: 13px;
      width: 1em;
  }




  .icon.svg-icon-doc {
      font-size: 12px;
      width: 0.9166666666666666em;
  }




  .icon.svg-icon-dots {
      font-size: 5px;
      width: 3.8em;
  }




  .icon.svg-icon-down {
      font-size: 7px;
      width: 1.7142857142857142em;
  }




  .icon.svg-icon-download {
      font-size: 14px;
      width: 1.0714285714285714em;
  }




  .icon.svg-icon-email {
      font-size: 10px;
      width: 1.2em;
  }




  .icon.svg-icon-facebook {
      font-size: 43.413px;
      width: 0.46684172943588326em;
  }




  .icon.svg-icon-instagram {
      font-size: 13px;
      width: 1em;
  }




  .icon.svg-icon-lamp {
      font-size: 15px;
      width: 0.6666666666666666em;
  }




  .icon.svg-icon-leads {
      font-size: 20px;
      width: 0.95em;
  }




  .icon.svg-icon-leads-lines {
      font-size: 12px;
      width: 1.4166666666666667em;
  }




  .icon.svg-icon-leaps {
      font-size: 10px;
      width: 1.5em;
  }




  .icon.svg-icon-monthly {
      font-size: 13px;
      width: 1.2307692307692308em;
  }




  .icon.svg-icon-ok {
      font-size: 9px;
      width: 1.4444444444444444em;
  }




  .icon.svg-icon-phone {
      font-size: 12px;
      width: 1em;
  }




  .icon.svg-icon-plus {
      font-size: 16px;
      width: 1em;
  }




  .icon.svg-icon-refresh {
      font-size: 15px;
      width: 1.0666666666666667em;
  }




  .icon.svg-icon-search {
      font-size: 12px;
      width: 1em;
  }




  .icon.svg-icon-send {
      font-size: 18px;
      width: 1.1111111111111112em;
  }




  .icon.svg-icon-sourses {
      font-size: 14px;
      width: 1em;
  }




  .icon.svg-icon-team {
      font-size: 15px;
      width: 0.7333333333333333em;
  }




  .icon.svg-icon-tooth {
      font-size: 14px;
      width: 0.9285714285714286em;
  }




  .icon.svg-icon-trash {
      font-size: 15px;
      width: 0.8em;
  }




  .icon.svg-icon-twitter {
      font-size: 34.157px;
      width: 1.2134262376672427em;
  }




  .icon.svg-icon-up {
      font-size: 7px;
      width: 1.7142857142857142em;
  }




  .icon.svg-icon-youtube {
      font-size: 27.733px;
      width: 1.4615440089424152em;
  }


