.email-popup-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(193, 196, 198, 0.73);
    display: flex;
    justify-content: center;
}

.email-popup {
    margin: auto;
    max-width: 600px;
    flex-basis: 600px;
    max-height: 100vh;
    box-shadow: 0 2px 37px 5px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    border: 1px solid #a9b9e7;
    background-color: #ffffff;
    align-self: center;

    &__header {
        padding: 30px 30px 20px;
        border-bottom: 1px solid #e0e8f9;

        .svg-icon-email {
            font-size: 14px;
            margin-right: 10px;
            fill: #838993;
            display: inline-block;
            vertical-align: middle;
        }

        &-title {
            display: inline-block;
            vertical-align: middle;
            color: #003046;
            font-family: $ffh;
            font-size: 16px;
            font-weight: 700;
            margin: 0;
        }
    }

    &__row {
        padding: 5px 30px;

        .select-imitation {
            height: 46px;

            &.error {
                outline: 0;
                border-color: #f00 !important;
                box-shadow: 0 0 4px #f00 !important;
            }

            &__view {
                line-height: 44px;

                .error & {
                }
            }
        }

        label {
            display: block;
            margin: 0 0 5px;
            color: #032a3e;
            font-family: $ffh;
            font-size: 14px;
            font-weight: 500;
            line-height: 25px;
        }

        input {
            width: 100%;
            height: 46px;
            line-height: 44px;
            box-shadow: 0 3px 5px rgba(232, 235, 240, 0.27);
            border-radius: 5px;
            border: 1px solid #e0e8f9;
            background-color: #ffffff;
            padding: 0 12px;
            transition: all 0.1s;
            outline: 0;
            color: #003046;
            font-family: $ffh;
            font-size: 14px;
            font-weight: 500;

            &:focus {
                box-shadow: 0 0 4px #5769ff;
                border: 1px solid #5769ff;
            }

            &[readonly] {
                color: #92a0a6;
                border: 1px solid #e0e8f9;
                box-shadow: 0 3px 5px rgba(232, 235, 240, 0.27);
                background-color: #ffffff;
            }

            &.error {
                border-color: #f00;
                box-shadow: 0 0 4px #f00;
            }
        }
    }

    &__footer {
        padding: 25px 30px;
        text-align: right;
        border-top: 1px solid #e0e8f9;
    }

    &__cancel {
        display: inline-block;
        height: 46px;
        line-height: 44px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        border: 1px solid #e1e6eb;
        background-color: #ffffff;
        transition: all 0.1s;
        color: #7a839f;
        font-family: $ffh;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
        padding: 0 19px;
        margin-right: 13px;
        cursor: pointer;

        &:hover {
            background: #e1e6eb;
        }

        &:active {
            background: #fefefe;
        }
    }

    &__submit {
        height: 46px;
        line-height: 46px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        background-color: #2e5bff;
        color: #fff;
        font-family: $ffh;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
        padding: 0 19px;
        transition: all 0.1s;
        cursor: pointer;
        display: inline-block;

        &:hover {
            background: darken(#2e5bff, 10%);
        }

        &:active {
            background: lighten(#2e5bff, 10%);
        }
    }
}

.email-preview-block {
    overflow: auto;
    max-height: 300px;
}

.relative {
    position: relative;
}

.text-center-element {
    text-align: center;

    * {
        text-align: left;
    }
}

.eye-svg {
    display: inline-block;
    cursor: pointer;
}
