.exist-popup{
  border: 1px solid #979797;
  background-color: rgba(193, 196, 198, .73);
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  transition: all .1s;
  justify-content: center;

  &.show{
    visibility: visible;
    opacity: 1;
  }

  &__inner{
    width: 100%;
    max-width: 100vh;
    overflow: auto;
    max-width: 600px;
    box-shadow: 0 2px 37px 5px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    border: 1px solid #a9b9e7;
    background-color: #ffffff;
    align-self:center;
  }

  &__header{
    font-family: $ffh;
    font-size: 16px;
    color: #003046;
    line-height: 16px;
    padding: 20px 40px;
    border-bottom: 1px solid #e7eefa;
  }

  &__footer{
    border-top: 1px solid #e7eefa;
    text-align: right;
    padding: 10px 40px;
  }

  .exist-popup-scroll{
    display: block;
    margin: 0 auto;
    max-height: 295px;
    overflow: auto;
    max-width: 340px;
    padding: 10px;
  }

  &__title{
    font-size: 24px;
    font-weight: 700;
    font-family: $ffh;
    color: #002b45;
    margin: 0 0 30px;
  }

  &__text {
    margin: 0;
    color: #6f7894;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    font-family: $ffh;
    display: block;
    margin: 0 40px;
  }

  .marked{
    display: inline-block;
    padding: 3px;
    margin: -3px;
    background: #fff6e4;
    color: #2b2f37 !important;
    opacity: 1 !important;
  }

  .lead-preview{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
}
