.debug{
  right: 10px;
  bottom: 10px;
  width: 480px;
  max-height: 320px;
  border: 2px solid  #999;
  overflow: auto;
  border-radius: 5px;
  font-size: 14px;
  background: rgba(90,90,90,.8);
  box-shadow: 0 0 15px rgba(0,0,0,.3);
  position: fixed;
  padding: 15px;
  color: #fff;
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;

  a{
    color: #fff;
  }

  p{
    margin: 0 0 7px;
  }
}