
.site-header{
  padding: 25px 0;
  background-color: #fff;

}
.logo{
  padding-top: 9px;
  display: block;
  font-family: $ffg;
  text-decoration: none;
  text-transform: uppercase;
  color: #524e49;
  font-weight: 500;
  white-space: nowrap;

  &__text{
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    vertical-align: 2px;
    margin-left: -1px;
    letter-spacing: 1.62px;
    display: inline-block;
  }

  img{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
  }
}

.search{
  &.search-single{
    margin: 0;
    position: absolute;
    right: 15px;

    @media(max-width:$break-point-md - 1){
      width: 43px;
    -webkit-box-flex: 0;
    flex: 0 0 43px;
    max-width: 43px;
    }

    @media(min-width:$break-point-md){
      position: relative;
      right: auto;
    }
  }

  margin: 0 0 20px;

  @media(min-width: $break-point-md){
    margin: 0;
  }

  &__form{
    width: 100%;
    height: 100%;

    .row{
      flex-wrap: nowrap;
    }
  }

  button{
    margin: 0;
    padding: 0;
    width: auto;
    border: 0;
    background-color: transparent;
    outline: 0;
  }

  &__wrapper{
    width: calc(100% - 60px);
    height: 43px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    border: 1px solid #e1e6eb;
    background-color: #ffffff;
    padding: 0 15px;
    transition: all .2s;

    @media(min-width: $break-point-md){
      // display: none;
      width: 320px;
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: 28px;
      transform: translateY(10px);
      visibility: hidden;
      opacity: 0;
    }

    &.shown{
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    @media(min-width: $break-point-lg){
      position: relative;
      top: 0;
      margin-top: 0;
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      width: calc(100% - 60px);
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
    }
  }

  .icon{
    align-self: center;
    fill: #838993;
    font-size: 12px;
    margin-right: 10px;
  }

  .row{
    height: 100%;
  }

  &__field{
    height: 100%;
    flex-basis: calc(100% - 30px);
    border: 0;
    line-height: 40px;
    outline: 0;
    font-family: $ffh;
    color: #2b2f37;
    font-size: 14px;

    @include plh(#838993, 14px);

    &:focus{

      @include plh(transparent);
    }
  }
}

.search-open{
  width: 43px;
  height: 43px;
  text-align: center;
  vertical-align: top;
  line-height: 43px;
  display: none;

  @media(min-width: $break-point-md){
    display: inline-block;
  }

  @media(min-width: $break-point-lg){
    display: none;
  }

  .svg-icon-search{
    vertical-align: middle;
    display: inline-block;
    font-size: 24px;
  }
}

.button-add{
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  background-color: #01c58d;
  position: relative;

  @media(min-width:$break-point-md){
    margin-right: 8px;
  }

  &:before,
  &:after{
    border-radius: 1px;
    content: '';
    @extend %abs_c;
    background: #fff;
    z-index: 10;
  }

  &:before{
    width: 2px;
    height: 12px;
  }

  &:after{
    height: 2px;
    width: 12px;
  }
}

.user{
  text-align: center;
  align-self: center;
  margin: 20px 0;
  position: relative;

  @media(min-width:$break-point-md){
    margin: 0;
    text-align: right;
  }

  &__logout{
    font-family: $ffh;
    font-size: 14px;
    text-decoration: none;
    color: #2b2f37;
    line-height: 10px;
    position: absolute;
    top: 100%;
    right: 0;
  }

  &__text{
    font-family: $ffh;
    font-size: 14px;
    color: #2b2f37;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: calc(100% - 46px);
    vertical-align: middle;
  }

  &__photo{
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #e0e4ea;

    img{
     max-width: 100%;
     max-height: 100%;
     height: auto;
     vertical-align: top;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  transition: 'background' .1s;
  background: #f5f5f5;

  :hover > &{
    background: #f1f1f1;
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(224, 232, 249, .4);
  transition: 'background' .1s;
  border-radius: 3px;

  :hover > &{
    background: rgb(157, 170, 208)
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(103, 120, 244);
}